# TCP port to bind the HTTP cache daemon to
PORT=8080

# Secret authorization key. Rejects all API calls without Bearer header if set.
POROS_KEY=crine_secret_token_123

# Limit maximum size of individual items (e.g. 500KB, 10MB, 0 = unlimited)
MAX_ITEM_SIZE=10MB

# Limit maximum memory cache is allowed to use (e.g. 256MB, 2GB, 0 = unlimited)
MAX_MEMORY=512MB
